.terms-tags li {
    font-size: 16px;
    display: inline-block;
    margin: 10px 10px 0px 0px !important;
    font-weight: 500;
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.terms-tags li a {
    display: block;
    padding: 1px 10px 3px;
}

.terms-tags-start li {
    display: inline-block;
    margin: 10px 10px 0px 0px;
    font-weight: 500;
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    width: auto;
}

.content-wrapper .terms-tags {
    margin-bottom: 30px;
}

.terms-tags a {
    padding: 4px 10px 2px 10px;
    background: var(--tertiary);
    /*border-radius: 6px;*/
    border-radius: var(--radius);
    transition: transform 0.1s, background 0.2s ease;
}

.terms-tags a:active {
    background: var(--tertiary);
    transform: scale(0.96);
}

.terms-tags a:hover {
    background: var(--paginav-hover);
}

.post-entry .terms-tags-start {
    padding-bottom: 5px;
}

.terms-tags-start a {
    display: block;
    padding: 3px 10px;
    background: var(--tertiary);
    /*border-radius: 6px;*/
    border-radius: var(--radius);
    transition: transform 0.1s, background 0.2s ease;
    position: relative;
}

.terms-tags-start a:active {
    background: var(--tertiary);
    transform: scale(0.96);
}

.terms-tags-start a:hover {
    background: var(--paginav-hover);
}

.post-entry .terms-tags-start {
    font-size: 13px;
    padding-bottom: 6px;
    margin-top: 10px;
    z-index: 999;
    display: block;
}

@media screen and (max-width: 768px) {
    .terms-tags li {
        font-size: 13px;
    }
}