:root {
    --gap: 30px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 3px;
    --theme: #fff;
    --entry: #fff;
    --primary: rgba(0, 0, 0, 0.88);
    --secondary: rgba(0, 0, 0, 0.56);
    --tertiary: rgba(0, 0, 0, 0.16);
    --content: rgba(0, 0, 0, 0.88);
    --hljs-bg: #1c1d21;
    --code-bg: #8cc271;
    --header-color: #ffd857;
    --border: #535353;
    --const-yellow-color: #ffd857;
    --logo-semicolon: #ffd857;
    --logo-bg: #000;
    --pattern2: #fff;
    --pattern1: #fff5da;
    --paginav-hover: #ffd857;
}

.dark {
    --header-color: #1d1e20;
    --pattern1: #37383e;
    --pattern2: #3c3d3f;
    --theme: #1d1e20;
    --entry: #2e2e33;
    --primary: #ffd857;
    --secondary: rgba(255, 255, 255, 0.56);
    --tertiary: rgba(255, 255, 255, 0.16);
    --content: rgba(255, 255, 255);
    --hljs-bg: #2e2e33;
    --code-bg: #6b9457;
    --border: #666666;
    --logo-semicolon: #000;
    --logo-bg: #ffd857;
    --paginav-hover: #666666
}

.list {
    background: var(--theme);
}

.dark.list {
    background: var(--pattern2);
}