@media screen and (max-width: 1024px) {
    .logo {
        margin: 20px auto;
    }
    .wrapper {
        margin-left: 26vw;
    }
    .main {
        max-width: none;
    }
    .header {
        width: 26vw;
    }
    .testwrap .entry-link,
    .post-single,
    .content-wrapper {
        width: 100%;
    }
    .menu-item {
        padding: 0 2vw 0 2vw;
    }
     :root {
        gap: 10px;
    }
}

@media screen and (max-width: 960px) {
    .testwrap {
        display: unset;
        flex-wrap: unset;
    }
    .testwrap .home-article-wrapper {
        width: 100%;
    }
    .home-article-wrapper {
        padding-bottom: var(--gap);
    }
}

@media (prefers-reduced-motion) {
    /* terms; profile-mode; post-single; post-entry; post-entry; search; search */
    .terms-tags a:active,
    .button:active,
    .share-buttons svg:active,
    .post-entry:active,
    .top-link,
    #searchResults .focus,
    #searchResults li:active {
        transform: none;
    }
    .entry-link:after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        display: block;
        right: 0;
        bottom: 0;
        background: currentColor;
    }
    .entry-link:hover:after {
        width: 100%;
        left: 0;
        background: currentColor;
    }
}

@media screen and (max-width: 768px) {
    .post-single,
    .content-wrapper {
        border: 0px
    }
    .content-wrapper .post-entry {
        border: 1px solid var(--border);
    }
    .content-wrapper .page-header {
        margin-bottom: 30px;
    }
    .content-wrapper .post-entry {
        width: 90%;
        margin: auto;
    }
    .post-entry {
        border: 0px solid var(--border);
    }
    .main {
        padding: 0 !important;
    }
    .testwrap {
        display: flex;
        flex-wrap: wrap;
        background: var(--theme);
        width: 100%;
        padding: calc(var(--gap));
    }
    .testwrap .home-article-wrapper {
        width: 50%;
    }
    .first-entry {
        width: 88%;
    }
    /* theme-vars */
     :root {
        --gap: 15px;
    }
    /* profile-mode */
    .profile img {
        transform: scale(0.85);
    }
    /* post-entry */
    .first-entry {
        min-height: 260px;
    }
    /* archive */
    .archive-month {
        flex-direction: column;
    }
    .archive-year {
        margin-top: 20px;
    }
    /* footer */
    .footer {
        padding: calc((var(--footer-height) - var(--gap) - 10px) / 2) var(--gap);
    }
    .wrapper {
        margin: 0;
        width: 100vw;
    }
    .main {
        max-width: 100vw;
        width: 100vw;
        margin: auto;
    }
    .header {
        width: 100vw;
        top: 0;
        z-index: 9999;
        display: block;
        position: relative;
    }
}